{% extends "base_generic.html" %}
{% load static %}
{% load myfilters %}

{% block content %}
<h1>All Defaulters</h1>

        <table  id="myTable" class="row-border diaplay" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Borrower</th>
                    <th>Book</th>
                    <th>Book Imprint</th>
                    <th>Due back</th>
                    <th>Fine</th>
                </tr>
            </thead>
            <tbody>
            {% for defaulter in defaulters %}
                <tr>
                    <td> {{ defaulter.borrower.first_name }}  {{ defaulter.borrower.last_name }}</td>
                    <td> {{ defaulter.book.title }} </td>
                    <td> {{ defaulter.imprint }} </td>
                    <td> {{ defaulter.due_back }} </td>
                    <td> {{ defaulter.due_back|fine }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
        

{% endblock %}


{% block javascript %}

<script type="text/javascript">
  
  $("document").ready(function(){
    console.log("window loaded, calling the functions")
    checkIfBookmarked( '{{ book}}');
    checkIfIssued( '{{ book}}');
    $('#myTable').DataTable({
        "ordering": true,
        "searching": true,
        "paging": false

    });
    

  });
</script>
{% endblock %}
