
{% extends "base_generic.html" %}

{% block content %}
    <h1>All Borrowed books</h1>

    {% if num_instances_onloan %}
      
        <table  id="myTable" class="row-border diaplay" cellspacing="0" width="100%" >
            <thead>
            <tr>
                <th>Book</th>
                <th>Borrower</th>
                <th>Due Date</th>
                <th>Renew</th>
                <th>Imprint</th>
            </tr>
            </thead>
            <tbody>
            {% for bookinst in instances_onloan %} 
                <tr>
                    <td> <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a></td>
                    <td> {{ bookinst.borrower}} </td>
                    <td class="{% if bookinst.is_overdue %}text-danger{% endif %}"> {{ bookinst.due_back }} </td>
                    <td> <a href="{% url 'renew-book-librarian' bookinst.id %}">Renew</a>    </td>
                    <td> {{ bookinst.imprint }} </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
  

    {% else %}
      <p>There are no books borrowed.</p>
    {% endif %}       
{% endblock %}



{% block javascript %}

<script type="text/javascript">
  
  $("document").ready(function(){
    console.log("window loaded, calling the functions")
    checkIfBookmarked( '{{ book}}');
    checkIfIssued( '{{ book}}');
    $('#myTable').DataTable({
        "ordering": true,
        "searching": true,
        "paging": false

    });
    

  });
</script>
{% endblock %}
