
{% extends "base_generic.html" %}

{% block content %}
    <h1>All Borrowed books</h1>

    {% if num_instances_onloan %}
      <p> Number of books borrowed  {{ num_instances_onloan }}</p>
        <table data-toggle="table" data-row-style="rowStyle" data-height="400" class="table" >
            <tr>
                <th>Book</th>
                <th>Borrower</th>
                <th>Due Date</th>
                <th>Renew</th>
                <th>Imprint</th>
            </tr>
            {% for bookinst in instances_onloan %} 
                <tr>
                    <td> <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a></td>
                    <td> {{ bookinst.borrower}} </td>
                    <td class="{% if bookinst.is_overdue %}text-danger{% endif %}"> {{ bookinst.due_back }} </td>
                    <td> <a href="{% url 'renew-book-librarian' bookinst.id %}">Renew</a>    </td>
                    <td> {{ bookinst.imprint }} </td>
                </tr>
            {% endfor %}
        </table>
  

    {% else %}
      <p>There are no books borrowed.</p>
    {% endif %}       
{% endblock %}