
{% extends "base_generic.html" %}
{% load myfilters %}

{% block content %}
    <h1>Borrowed books</h1>

    {% if bookinstance_list %}
       <table data-toggle="table">
            <tr>
                <th>Book</th>
                <th>Imprint</th>
                <th>Due Back</th>
                <th>Fine</th>
            </tr>
            {% for bookinst in bookinstance_list %} 
                <tr>
                    <td> <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> </td>
                    <td> {{ bookinst.imprint }} </td>
                    <td class="{% if bookinst.is_overdue %}text-danger{% endif %}"> {{ bookinst.due_back }} </td>
                    <td> {{ bookinst.due_back|fine }} </td>
                    
                </tr>
            {% endfor %}
        </table>
  



    {% else %}
      <p>There are no books borrowed.</p>
    {% endif %}       
{% endblock %}