<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  {% block title %}<title >Local Library: Login</title>{% endblock %}

  
  {% load static %}
  {% load myfilters %}
  <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>

      <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  
</head>

<body style="bgcolor:#000d33">
    <div class="wrapper">
    <form class="form-signin" method="post" action="{% url 'login' %}"> 
      {% csrf_token %}      
      <h2 class="form-signin-heading">Please login</h2>
        <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
            <p><strong>-- OR --</strong></p>
        {{ form.username|addClass:"class,form-control" }}
        {{ form.password|addClass:"class,form-control" }}

 

      <!--
      <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
      <input type="password" class="form-control" name="password" placeholder="Password" required=""/>      
      <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label>
      -->
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>  
      
      
    </form>
  </div>
  
  
</body>
</html>
