{% extends "base_generic.html" %}
{% load static %}

{% block content %}
    <h2>Edit Profile</h2>
  	
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          
           
          <img src="{{ profile.picture.url }}" class="avatar img-circle" alt="avatar">
          <h6>Upload a different photo...</h6>
          
          <form action="{% url 'upload_pic' %}" method="post" enctype="multipart/form-data"> 
            {% csrf_token %} 
            <p>
              {{ profileform.non_field_errors }}
            </p> 
            <p> 
              {{ profileform.picture.errors }} 
              {{ profileform.picture }} 
            </p> 
            <p>
              <input type="submit" value="Upload" />
            </p> 
          </form>
        </div>
        <div class='row'>
            <div class="col-md-3">
                <span class="label {% if form.is_active.value %}label-success{% else %}label-danger{% endif %}">{% if form.is_active.value %}Active{% else %}InActive{% endif %}</span>
            </div>
        </div>
        <div class='row'>
            <div class="col-md-3">
                <span class="label {% if form.is_staff.value %}label-success{% else %}label-danger{% endif %}">{% if form.is_staff.value %}Staff{% else %}Non Staff{% endif %}</span>
            </div>
        </div>
        <div class='row'>
            <div class="col-md-3">
                <span class="label label-info"> Last Login: {{ form.last_login.value.date }}</span>
            </div>
        </div>
        <div class='row'>
            <div class="col-md-3">
                <span class="label label-info"> Joined: {{ form.date_joined.value.date }}</span>
            </div>
        </div>


  
      </div>
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div>
                <h3>Personal info 
                  {% if user.username == form.username.value %} 
                      <input type='button' onclick="edit()" class="btn btn-primary" value="Edit" />
                  {% endif %}      
                </h3>


      
        
        <form class="form-horizontal" action="" method="post" role="form">
          
            {% csrf_token %}
          <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
              <input class="form-control" name="first_name" id="first-name" type="text" value= "{{ form.first_name.value }}" disabled >
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <input class="form-control" name = "last_name" id="last-name" type="text" value= "{{ form.last_name.value }}" disabled >
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Company:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" name="email" type="text" value= "{{ form.email.value }}" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Time Zone:</label>
            <div class="col-lg-8">
              <div class="ui-select">
                <select id="user_time_zone" class="form-control">
                  <option value="Hawaii">(GMT-10:00) Hawaii</option>
                  <option value="Alaska">(GMT-09:00) Alaska</option>
                  <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
                  <option value="Arizona">(GMT-07:00) Arizona</option>
                  <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
                  <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>
                  <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
                  <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Username:</label>
            <div class="col-md-8">
              <input class="form-control"  type="text" value="{{ form.username.value }}" disabled>
            </div>
          </div>

          
          {% if user.username == form.username.value %}
            <div class="form-group" >
                <label class="col-md-3 control-label"></label>
                <div class="col-md-8">
                <input type="submit" id="user-save" class="btn btn-primary" value="Save" disabled />
                <span></span>
                <input type="reset"id="user-cancel" class="btn btn-default" value="Cancel" disabled />
                </div>
            </div>
          {% endif %}
        </form>
      </div>
  </div>

<hr>

{% endblock content %}

{% block javascript %}
<script type="text/javascript">
function edit(){
  console.log(" The edit is clicked")
  $("#user-save").removeAttr('disabled');
  $("#user-cancel").removeAttr('disabled');
  $("#first-name").removeAttr('disabled');
  $("#last-name").removeAttr('disabled');
}
</script>
{% endblock %}